<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <title>Blog post</title>
</head>

<body>
    <div class="header-container">
        <h1>Blog Home</h1>
        <a href="/compose" class="create-post-link">Create New Post</a>
      </div>
      
</body>
</html>